# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Data & Model (to be generated locally)
data/
outputs/
*.joblib
*.flag

# System files
.DS_Store
Thumbs.db
.ipynb_checkpoints/
